.site-footer{
  display:flex;
  background-color:#A6AdB4;
  width: 100%;
  color:white;
}
.footer-left , .footer-middle , .footer-right{
  margin:5%;
}
.footer-container{
  display:flex;
}
.footer-row{
  flex:1;
  display:flex;
}
.footer-links{
  padding:1rem;
  margin:1rem;
  flex:1;
}
.footer-links ul li{
  color:#f6f8f9 !important;
}
a ,a:hover, a:active {
  opacity:0.5;
  color:#f6f8f9;
  text-decoration: none;
}
ul{
  list-style: none;
}
input{
  color:black;
}
.footer-middle{
  margin:2rem 0 2rem 0;
}
#email{
  border-radius:5px;
  height:3rem;
}
.footer-links-soc li{
  display:inline;
  margin:16px;
}
.fa{
  font-size:3rem;
}
