@import 'nav-css.css';
@import 'footer-css.css';
@font-face {
  font-family: Helvetica;
  src: url(Helvetica-Font/helvetica-light-587ebe5a59211.ttf);
}
main{
  font-family: Helvetica, Arial, sans-serif!important;
  width:100% !important;
  margin:0 !important;
  padding:0 !important;
}
body {
 background-color:#F6F8F9 !important;
 width:100%;
 font-size:1.5rem;
}
.container , .container-start{
  box-sizing:border-box;
  display: flex;
  justify-content: center;
  width:100%;
  font-size:1.5rem;
}
.column {
  justify-items: stretch;
  width:100%;
  margin:0;
  flex:1;
}
.col2 {
  box-sizing:border-box;
  padding:0 1rem 2rem 2rem; 
}
img{
  width:100%;
  margin:0;
  height:auto;
}
@media screen and (max-width: 1126px) {
  body , .container ,h1 , h2 , h3 , h4 , p , h5{
    font-size: 1.3rem;
  }

}
@media screen and (max-width: 950px) {
  body , .container ,h1 , h2 , h3 , h4 , p , h5{
    font-size:1rem;
  }
}
@media screen and (max-width: 768px) {
  body , .container ,h1 , h2 , h3 , h4 , p , h5{
    font-size:1.3rem;
  }
  .container-start{
    clear:both;
    display:block;
  }
  .container , .col-3{
    clear:both;
    display:block;
    margin:auto;
  }
  .del{
    position:absolute;
    visibility:hidden;
  }
  .trending-child , .vis{
    display:inline;
    margin-left: 1rem;
    float:left;
    width:41%;
  }
  .trending-child-3{
    position:absolute;
    visibility:hidden;
  }

}
@media screen and (max-width: 350px) {
  .column{
    display:flex;
  }
  .trending-child{
    display: flex;
  }
  .trending-child-3{
    visibility:hidden;
  }
}
hr{
  color:white;
}
.but {
  transition-duration: 0.4s;
  background-color: rgba(250,105,128,1);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color:white;
  border-radius:5px;
}
.container-2{
	width:85%;
	margin:auto;
}
.but:hover {
  background-color: white;
  color:rgba(250,105,128,1);
}
.start-page-left , .happening-now-section-1{
  position: relative;
  width:100%;
}
.text-over-image{
  width:75%;
  margin:0;
  color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);	
}
.start-page-right-section{
  width:75%;
  margin:auto;
}
.start-page-right {
  background-color:white;
}
.trending-child , .trending-child-3{
  box-sizing: border-box;
  background-color:white;
  border-radius:5px;
  margin:1rem;
}
.trending-text{
  box-sizing: border-box;
  margin:1rem;
  padding:1rem;
}

