@import 'nav-css.css';
@import 'footer-css.css';
@font-face {
    font-family: Helvetica;
    src: url(Helvetica-Font/helvetica-light-587ebe5a59211.ttf);
  }
main{
    font-family: Helvetica, Arial, sans-serif!important;
    width:80%;
    margin:auto;
}
.container-2{
    display:flex;
    justify-content: center;
}
.left{
    width:40%;
}
.image-text{
    position: relative;
    text-align: center;
    color: white;
}
.text-over-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.but {
    transition-duration: 0.4s;
    background-color: rgba(250,105,128,1);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color:white;
    border-radius:5px;
    display:block;
  }
.but:hover {
background-color: white;
color:rgba(250,105,128,1);
}
.input{
    display:block;
    margin:auto;
}
.label{
    font-size:15px;
    color:black;
    display:block;
}
.hr{
    background-color:rgba(250,105,128,1) !important;
    color:rgba(250,105,128,1) !important;
    width:20%;
    margin:auto;
}
.txt{
    opacity:0.5;
}
.column2{
    display:flex;
}
.col2{
    flex:1;
    margin:1rem;
}
.container-3-image{
    width:100%;
}
.column-3{
    margin:3rem 0 3rem 0;
}
.left{
    margin:auto;
}
/*form css*/
  .form-container {
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  input[type=text], input[type=date] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
 
  input[type=submit] {
    background-color:#FA6980 ;
    color: white;
    border: none;
  }
  @media screen and (max-width: 768px){
        
  }